body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .h1-span{
    color:#940c01;
  }
  
  .div-contains-h1{
    display:inline-flex;
    /*border: solid black 1px;*/
    width: 50%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    align-items: center;
  }
  
  .div-contains-h1-second{
    display:inline-flex;
    /*border: solid black 1px;*/
    width: 50%;
    margin-left: 5%;
    margin-top: 2.5%;
    margin-bottom: 1%;
  }
  
  .main-block{
    /*border: solid black 1px;*/
    width: 90%;
    height: 600px;
    margin-left: 5%;
    display: inline-flex;
  }
  .products{
    display: inline-flex;
    /*border: solid black 1px;*/
    width: 90%;
    height: 330px;
    margin-top: 1%;
    margin-left: 5%;
    overflow-x:scroll;
  }
  .products::-webkit-scrollbar {
    height: 10px;
  }
  
  .products::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 8px;
  }
  
  .products::-webkit-scrollbar-thumb{
    background: lightgray;
    border-radius: 10px;
  }
  .small-div{
    /*border: solid black 1px;*/
    height: 50px;
    width: 150px;
    margin-left: 15px;
    align-items: center;
  }
  
  .rating-img{
    height: 38.5px;
    width: 150px;
    margin-top: 6.5%;
  }
  
  .main-block-text{
    width:57%;
    /*border: solid black 1px;*/
    height: 95%;
    margin-top: 0.8%;
    margin-left: 0.85%;
  }
  
  .main-block-slider{
  width:40%;
    /*border: solid black 1px;*/
    height: 95%;
    margin-top: 0.8%;
    margin-left: 0.85%;
  }
  
  
  .main-block-text-text{
    /*border: solid black 1px;*/
    width: 100%;
    height: 545px;
    margin-top: 80px;
  }
  
  .main-text{
    font-size: larger;
  }
  
  .slider-container {
    position: relative;
    width: 100%;
    max-width: 600px; 
    margin-top: 9%;
    margin-left: 6.5%;
    overflow: hidden;
  }
  
  .image-wrapper {
    display: flex;
    transition: transform 0.5s ease; 
  }
  
  .slider-image {
    width: 100%;
    height: auto;
  }
  
  .product-card{
    margin: 1%;
    border: solid black 1px;
    width: 200px;
    height: 270px;
  }
  
  .product-pic{
     /*border: solid black 1px; */
    width: 170px;
    height: 200px;
    margin-top: 13px;
    margin-left: 13px;
  }
  
  .product-name{
    /* border: solid black 1px; */
    width: 170px;
    height: 40px;
    margin-top: 5px;
    margin-left: 13px;
  }
  
  .product-img{
    width: 170px;
    height: 200px;
  }
  
  .pr-name{
    margin-top: 0px;
    margin-left: 8px;
  }
  
  .main-cont{
    width: 95%;
    height: 600px;
    /*border: solid black 1px;*/
    margin-left: 2.3%;
    margin-top: 3%;
    display: inline-flex;
  }
  
  .filter-box{
    /*border: solid black 1px;*/
    width:15%;
    height: 575px;
    margin-left:1.5%;
    margin-top:0.5%;
    background-color: #940c01;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  
  .filtered-objects{
    width: 90%;
    height: 575px;
    /*border:solid black 1px;*/
    margin-left:1.5%;
    margin-top:0.5%;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
  .filtered-objects::-webkit-scrollbar {
    width: 10px;
  }
  
  .filtered-objects::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 8px;
  }
  
  .filtered-objects::-webkit-scrollbar-thumb{
    background: lightgray;
    border-radius: 10px;
  }
  .filtered-card{
    height: 80px;
    width: 99.7%;
    border:solid black 1px;
    display: inline-flex;
    transition: box-shadow 0.3s ease-in-out;
    align-content: space-between;
    
  }
  .filtered-card-name{
    /*border:solid black 1px;*/
    height: 60px;
    padding: 10px;
    margin-top: -4px;
  }
  .filtered-card-rating-div{
    margin-left:50px;
   /* border:solid black 1px;*/
    height: 60px;
    display: inline-flex;
    align-items: center;
    padding: 12px;
  }
  .filtered-card-rating{
    height: 38.5px;
    width: 150px; 
  }
  
  .filtered-card-summary{
    padding: 10px;
    margin-left:110px;
    /*border:solid black 1px;*/
    margin-right: -30px;
    height: 60px;
    display:inline-flex;
    align-items: center;
  }
  .filtered-card-name:hover{
    box-shadow: none;
  }
  .search-h1-div{
    /*border: solid black 1px;*/
    width: 95%;
    margin-left: 140px;
    margin-top: 100px;

  }
  .search-h1{
    color: #940c01;
  }
  .filter-box-title {
    color: white;
    margin: 5px 0;
  }
  
  .object-name-input,
  .object-rating-dropdown {
    margin: 5px 0;
  }
  
  .object-rating-dropdown{
    width: 40px;
  }
  
  .filter-box-form{
    width:85%;
    height: 575px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  .filter-box-title{
    font-size: 20px;
    font-weight: 700;
  }
  .search-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 20px; 
    background-color: #ffffff; 
    color: #000000; 
    font-size: 16px; 
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  .search-button:hover {
    background-color: #cccccc; 
    color: #000000; 
  }
  
  .object-rating-dropdown {
    width: 150px; 
  }
  
  .object-name-input{
    width: 150px; 
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-top: 100px;
  }
  
  .image {
    flex: 1;
  }
  
  .image img {
    max-width: 80%;
    height: auto;
    display: block;
  }
  
  .text {
    flex: 1;
    text-align: justify;
  }
  
  .text h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #940c01;
  }
  
  .text p {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .btn-back {
    padding: 10px;
    margin-top: 50px;
    margin-left: 120px;
    background-color: #940c01;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
  }

.btn-back:hover {
  background-color: black;
  color: white;
}

.filtered-main {
  color: black;
}